@import './variables.scss';

body {
  font-family: $ff-regular;
  font-weight: $fw-regular;
  color: $clr-200;
}

h1, h2, h3 {
  color: $clr-500;
}

button {
  background: none;
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.btn {
  color: $clr-white;
  background-color: $clr-accent;
  font-weight: $fw-bold;
  transition: background-color 0.3s;
  cursor: pointer;

  &-rounded {
    border-radius: 30px;
  }

  &-squared {
    border-radius: 5px;
  }

  &:hover {
    background-color: $clr-accent-hover;
  }
}