$ff-regular: 'Poppins', sans-serif;

$fw-regular: 500;
$fw-bold: 700;

$clr-accent: #2BD0D0;
$clr-accent-hover: #9AE3E3;
$clr-white: #FFF;
$clr-error: #F46363;
$clr-100: #EFF1F7;
$clr-200: #9E9AA8;
$clr-300: #4B3F6B;
$clr-400: #3A3054;
$clr-500: #34313D;
$clr-600: #232127;

